<div class="cal-head">
  <h2>Your Calendar</h2>
  {{! Default filter: current month, all users, all chosen categories }}
  <p>Filter by:</p>
  <div id="cal-dropdowns">
    <label for="month-list">Month:</label>
    <select name="month-list" id="month-list">
      {{#each months as |month|}}
        <option value="{{monthNum}}">{{monthWord}}</option>
      {{/each}}
    </select>
    <label for="user-list">Created by:</label>
    <select name="user-list" id="user-list">
      {{#each users as |user|}}
        <option value="{{id}}">{{username}}</option>
      {{/each}}
    </select>
    <label for="category-list">Category:</label>
    <select name="category-list" id="category-list">
      <option value="1">Food</option>
      <option value="2">Birthdays</option>
      <option value="3">Pets</option>
      <option value="4">Other</option>
    </select>
  </div>
</div>
<div class="cal-body">
  {{! Separates out events by day, if no events, skips that day }}
  {{!-- {{#each days as |day|}}
    {{!-- {{#if events}} --}}
   {{!-- <h4>{{day}}</h4> --}}
    {{#each events as |event|}}
      <div class="card {{category}}">
        <h3>{{event.title}}</h3>
        <p class="start-time">Start Time: {{event.start_date}}</p>
        <p class="end-time">End Time: {{event.end_date}}</p>
        {{! Plan to cut off desc at 4 lines or so in case it's overly long }}
        <p class="event-desc truncate">Description: {{event.description}}</p>
        <p class="event-category">Category: {{event.category}}</p> 
      </div>
    {{/each}}
    {{!-- {{/if}} --}}
  {{!-- {{/each}} --}}

  <a class="btn" href="/event"><button id="add-event">Add Event</button></a>
</div>

<script src="/js/display.js"></script>